<%- layout("layouts/boilerplate") %>

<!-- <div class="row mt-3">
  <div class="alert alert-danger col-6 offset-3" role="alert">
    <p class="alert-heading"><%= err.message %></p>

    <% if (err.statusCode) { %>
      <p>Status Code: <%= err.statusCode %></p>
    <% } %>

    <% if (err.stack) { %>
      <pre><%= err.message %></pre>
    <% } %>
  </div>
</div> -->


<div class="alert alert-danger text-center p-4 mt-5">
  <h2>Page Not Found!</h2>
  <p>Status Code: <%= err.statusCode || 404 %></p>
  <p><%= err.message || "Oops! The page you're looking for doesn't exist." %></p>
  <a href="/listings" class="btn btn-dark mt-3">Go Home</a>
</div>
